#lorem{
	background: #30c3a6;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding: 40px;

}
footer{
	background: #234a60;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100px;
	text-orientation: right;
	padding-top: 40px;
	padding-left: 60%
}